{% extends 'base.html.twig' %}

{% block title %}Hells Hardrock - Modifier {{ medium.title }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="page-title">✏️ Modifier {{ medium.title }}</h1>

    {{ include('media/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_media_index') }}" class="btn btn-secondary">Retour à la liste</a>
</div>
{% endblock %}