{% extends 'base.html.twig' %}

{% block title %}Hells Hardrock - Nouveau Média{% endblock %}

{% block body %}
<div class="container">
    <h1 class="page-title">🎵 Ajouter un nouveau média</h1>

    {{ include('media/_form.html.twig') }}

    <a href="{{ path('app_media_index') }}" class="btn btn-secondary">Retour à la liste</a>
</div>
{% endblock %}