{% extends 'base.html.twig' %}

{% block title %}
{{ page_title}} -Hells Hardrock
{% endblock %}

{% block body %}

<!-- En tête -->
<header class="hero">

    <h1> Bienvenue sur Hells Hardrock </h1>

</header>

<!-- Contenu principale -->
<main class="main-content">

    <h2>Le site des fans de rock, métal et bonne énergie </h2>
    <p>
      Laisse toi pousser les cheveux, branche ta sono et découvre nos artistes et toute la culture hardrock !
    </p>

    <a href="#" class="cta-button">Découvrir maintenant</a>
</main>
<!-- Pieds de page avec date automatique -->
<footer class="footer">

     &copy; {{ "now"|date("Y") }} Hells Hardrock - Tous droits réservés
</footer>
    
{% endblock %}
